# Ver todos los niveles disponibles en la doc de monolog
LOG_LEVEL=DEBUG

# Path es relativo a la raíz del proyecto
LOG_PATH='/storage/logs/app.log'

#Configuracion de la base de datos
DB_ADAPTER=pgsql
DB_HOSTNAME=paw-prints-db
DB_DBNAME=pprints-db
# Completar con el username
DB_USERNAME=paw
# Completar con la contraseña
DB_PASSWORD=paw
DB_PORT=5432
DB_CHARSET=utf8

# Configuracion de correo (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=pawprintsgrupo5@gmail.com
MAIL_PASSWORD=fafwbforxzmzghfv
MAIL_FROM=pawprintsgrupo5@gmail.com
MAIL_FROM_NAME=PawPrints

# Dirección del personal que recibe las reservas
RESERVAS_MAIL=pawprintsgrupo5@gmail.com