.header-top {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--espaciado-medio);
    padding: var(--espaciado-medio) var(--espaciado-largo);
}

@media (min-width: 750px) {
    .header-top {
        background-color: var(--color-secundario);
        color: var(--color-primario);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--espaciado-medio);
        padding: var(--espaciado-medio) var(--espaciado-largo);
    }
}

header a {
    color: var(--color-primario);
}

header button {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border: none;
    padding: var(--espaciado-medio) var(--espaciado-medio);
    border-radius: var(--radio-grande);
    cursor: pointer;
}

header button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

header img {
    min-height: 21px;
    height: 50px;
    flex: 0;
    transition: all 0.2s ease;
}

header img:hover {
    background-color: #5c068c20;
    transform: scale(1.125);
}

.links-header {
    display: flex;
    flex: 0.2;
    justify-content: space-evenly;
}

header nav ul {
    display: flex;
    gap: var(--espaciado-medio);
    list-style: none;
    font-weight: 600;
}

header nav {
    background-color: var(--color-monocromatico);
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 var(--espaciado-largo);
}

@media (max-width: 750px) {
    header nav {
        justify-content: center;
    }

    .links-header {
        width: 75%;
        justify-content: space-evenly;
    }

}

form[role="search"] {
    flex: 0.5;
    display: flex;
    gap: var(--espaciado-medio);
}

input[type="search"],
input[type="number"] {
    padding: var(--espaciado-medio);
    border: 1px solid var(--color-border);
    color: var(--color-texto);
    /* para que el texto que escriba el usuario sea violeta */
}

input[type="search"] {
    flex: 1;
    border-radius: var(--radio-grande);
}

input[type="search"]::placeholder {
    color: #5c068c;
}
