/* HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 40px;
    border-bottom: 1px solid #5c068c;
    background-color: rgb(87, 6, 140); /* fondo violeta */
    color: #ffffff; /* texto blanco */
}

header nav {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

/* LOGO */
header > a:first-child img {
    min-height: 21px;
    height: 50px;
}

/* BUSCADOR */
header form {
    display: flex;
    margin: 0 auto;
    gap: 5px;
    margin-top: 25px;
}

input[type="search"] {
    padding: 8px;
    border: 1px solid #ffffff; /* borde blanco */
    border-radius: 20px;
    width: 300px;
}

/* BOTÓN */
header form button {
    padding: 8px 12px;
    border: none;
    background-color: #ffffff; /* fondo blanco */
    color: rgb(87, 6, 140); /* texto violeta */
    border-radius: 20px;
    cursor: pointer;
}

header form button:hover {
    background-color: #dddddd;
}

input[type="search"]::placeholder {
    color: rgba(255, 255, 255, 0.7); /* placeholder blanco suave */
}

header a:nth-of-type(2) {
    margin-left: auto;
}

/* ICONOS (carrito + cuenta) */
header a img {
    height: 40px;
    margin-left: 50px;
    margin-top: 25px;
}


/* NAV */
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    width: 100%;
    margin-top: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* texto blanco */
    font-size: 14px;
}

nav ul li a:hover {
    color: #dddddd; /* blanco más suave al hover */
}