
/* MAIN */
main {
    flex: 1;
    padding: 60px;
    text-align: center;
}

/* TITULO */
main h1 {
    color: #5c068c;
}

/* TEXTO */
main p {
    max-width: 600px;
    margin: 0 auto 20px auto;
    color: #5c068c;
}
