body {
    display: flex;
    flex-direction: column;
}

main {
    padding: var(--espaciado-largo) var(--espaciado-largo);
}

.datos-libro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--espaciado-chico) var(--espaciado-largo);
}

.portada-libro {
    margin: 0 var(--espaciado-largo);
}

.portada-libro img {
    max-height: 100%;
    height: auto;
    display: block;
}

.texto-datos-libro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 var(--espaciado-largo);
    gap: var(--espaciado-chico);
}

.texto-datos-libro p {
    font-weight: 600;
    margin: 0;
}

.texto-datos-libro button {
    height: 4rem;
    width: 16rem;
    max-width: 75%;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: var(--radio-medio);
    margin: var(--espaciado-chico) auto;
}

.texto-datos-libro button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.descripcion-libro h2,
.comentarios h2 {
    border-bottom: solid 1px var(--color-secundario);
}

.opinion {
    margin: var(--espaciado-medio) 0;
}

.opinion-datos {
    background-color: var(--color-sombreado-primario);
    display: flex;
    flex-direction: row;
}

.opinion-datos p {
    font-weight: 600;
    margin: 0 var(--espaciado-largo);
}

/* Responsive */
@media (max-width: 750px) {
    .datos-libro {
        flex-direction: column;
    }

    .portada-libro {
        margin: auto;
    }

    .imgPortada {
        max-width: 100%;
        height: auto;
    }

    .opinion-datos {
        gap: 5px;
        justify-content: flex-start;
    }

    .opinion-datos p {
        margin: 0;
    }
}