body {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

.principal {
    padding: 0;
}

.principal p {
    font-size: 1.25rem;
    font-weight: 600;
}

.principal img {
    width: 100%;
}

section {
    margin: 0;
    margin-bottom: var(--espaciado-largo);
    padding: 0 var(--espaciado-largo);
}

.novedades h2,
.destacados h2,
.eventos h2 {
    font-size: 2rem;
    border-bottom: 1px solid var(--color-secundario);
}

.novedades > div,
.destacados > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-around;
    padding: var(--espaciado-largo) var(--espaciado-chico);
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

header {
    border-bottom: solid 2px var(--color-secundario);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-largo);
}

section {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-medio);
}

.tarjeta-libro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primario);
    border-radius: var(--radio-chico);
    padding: var(--espaciado-medio);
    box-shadow: 0 2px 8px var(--color-border);
    transition: transform 0.2s, box-shadow 0.2s;
    flex-shrink: 0;
    width: min(350px, 40%);
}

.tarjeta-libro:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px var(--color-border);
}

.tarjeta-libro h3 {
    color: var(--color-secundario);
    margin: 0;
    margin-bottom: var(--espaciado-medio);
    font-weight: 600;
}

.tarjeta-libro p {
    font-size: 1rem;
    color: var(--color-monocromatico);
    margin: var(--espaciado-chico) 0;
    font-weight: 400;
}

.tarjeta-libro img {
    width: 100%;
}

.tarjeta-libro button {
    margin: 0;
    margin-top: auto;
    width: 100%;
    padding: var(--espaciado-chico);
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: none;
    border-radius: var(--radio-chico);
    cursor: pointer;
    font-weight: bold;
    height: 60px;
}

article button:hover {
    background-color: var(--color-secundario);
}

@media (max-width: 750px) {
    p {
        font-size: 0.8rem;
    }

    section {
        padding: 0;
    }
}