{% extends 'layouts/main.twig' %}

{% block title %}PawPrints - Ajustes{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/ajustes.css">
{% endblock %}

{% block main_attrs %}class="ajustes-main"{% endblock %}

{% block content %}
  <h1 class="ajustes-titulo">Ajustes</h1>
  <section class="ajustes-seccion">
    <div class="construccion-icon">⚙️</div>
    <p class="ajustes-mensaje">Página en construcción</p>
    <a href="/mi_cuenta" class="btn-volver">Volver a Mi Cuenta</a>
  </section>
{% endblock %}