{% extends 'layouts/main.twig' %}

{% block title %}PawPrints - Cerrar Sesión{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/cerrarSesion.css">
{% endblock %}

{% block main_attrs %}class="logout-main"{% endblock %}

{% block content %}
  <section class="logout">
    <h1>Cerrar sesión</h1>
    <p>¡Has cerrado sesión con éxito!</p>
    <a href="/index">Inicio</a>
  </section>
{% endblock %}