<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/estilos/base.css">
    <link rel="stylesheet" href="/estilos/print.css">
    <link rel="stylesheet" href="/estilos/header.css">
    <link rel="stylesheet" href="/estilos/footer.css">
    <link rel="stylesheet" href="/estilos/index.css">
    <title>PawPrints</title>
</head>

<body>
    <header>
        <div class="header-top">
            <a href="/index.html">
                <img src="/imagenes/logo.svg" alt="PawPrints">
            </a>

            <form role="search">
                <input id="busqueda" type="search" placeholder="Buscar libros...">
                <button type="submit">Buscar</button>
            </form>

            <div class="links-header">
                <a href="/carrito.html">
                    <img src="/imagenes/carrito_logo_darkmode.svg" alt="carrito de compras">
                </a>

                <a href="/mi_cuenta.html">
                    <img src="/imagenes/mi_cuenta_logo_darkmode.svg" alt="acceso a mi cuenta">
                </a>
            </div>
        </div>

        <nav aria-label="Navegación principal">
            <ul>
                <li><a href="/catalogo">Libros</a></li>
                <li><a href="/novedades">Novedades</a></li>
                <li><a href="/top_50.html">Top 50</a></li>
                <li><a href="/eventos">Locales</a></li>
                <li><a href="/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="principal">
            <figure>
                <img src="imagenes/frente_libreria_lightmode.png" alt="Frente de la libreria física.">
            </figure>
            <h1>PAWPrints</h1>
            <p>Libreria y espacio de lectura ubicada en Lujan, Buenos Aires. Destinada a toda persona que
                disfrute de un buen libro acompañado de un buen cafe. Veni a visitarnos!</p>
        </section>

        <section class="eventos">
            <h2>Eventos</h2>
            <a href="/eventos.html">
                <img src="/imagenes/evento_portada_generica_index.svg" alt="Evento principal">
                <img src="/imagenes/evento_portada_generica_index.svg" alt="Evento principal 2">
            </a>
        </section>

        <section class="carrusel">
            <h2>Novedades</h2>
            <div>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
            </div>
        </section>

        <section class="carrusel">
            <h2>Destacado</h2>
            <div>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
                <article class="tarjeta-libro">
                    <a href="detalle_libro.html">
                        <img src="/imagenes/portadaGenerica.png" alt="Portada del libro">
                    </a>
                    <div>
                        <h3>Título de libro</h3>
                        <p>$ Precio</p>
                        <form action="/carrito/agregar" method="post">
                            <input type="hidden" name="id_libro" value="123">
                            <input type="hidden" name="título" value="Título del libro">
                            <button type="submit" aria-label="Agregar <título de libro> al carrito">Agregar al
                                carrito</button>
                        </form>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <a href="/nosotros">Acerca de nosotros</a>
        <section class="contactos">
            <h2>Info de contacto</h2>
            <address>
                <a href="mailto:libreria@pawprints.com">libreria@pawprints.com</a> <br />
                <span>+54 2323 123456</span> <br />
                <em>
                    Calle falsa 123 <br />
                    Lujan, Buenos Aires, CP: 6700
                </em>
            </address>
        </section>
        <nav aria-label="Redes sociales">
            <strong>Nuestras Redes:</strong> <br>
            <a href="https://instagram.com/PAWPrints_libreria"><img src="/imagenes/instagram_darkmode.svg"
                    alt="Instagram"></a> <br>
            <a href="https://facebook.com/PAWPrints.libreria"><img src="/imagenes/facebook_darkmode.svg"
                    alt="Facebook"></a>
        </nav>
    </footer>
</body>

</html>
