{% extends 'layouts/main.twig' %}

{% block title %}PawPrints - Mi Cuenta{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/mi_cuenta.css">
{% endblock %}

{% block main_attrs %}class="mi-cuenta-main"{% endblock %}

{% block content %}
  <section class="mi-cuenta-perfil">
    <img src="/assets/img/logoUsuario.png" alt="Imagen de perfil de usuario" id="userPic" class="user-pic">
    <div class="user-detalles">
      <h1 class="mi-cuenta-titulo">Mi Cuenta</h1>
      <p class="user-name">Nombre de usuario</p>
      <p class="user-date">Fecha de ingreso</p>
    </div>
  </section>

  <section class="misPedidos">
    <header class="mis-pedidos-header">
      <h2 class="misPedidosTitulo">Mis Pedidos</h2>
    </header>

    <div class="pedidos-grid">
      {% for i in 1..2 %}
        <article class="pedido">
          <header class="pedido-header">
            <h3 class="pedido-titulo">Título, Autor</h3>
          </header>
          <img src="/assets/img/portadaGenerica.png" alt="Portada de un libro sin palabras ni imagenes relevantes" class="portada">
          <div class="pedido-detalles">
            <p>Fecha Inicio: 28-4-25</p>
            <p>Monto: $43000</p>
            <p>Fecha Entrega: 2-5-25</p>
            <p>Estado: <span class="estado entregado">Entregado</span></p>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

  <section class="managementLinks">
    <a href="./ajustes" class="bLink">Ajustes</a>
    <a href="./cerrarSesion" class="bLink">Cerrar Sesión</a>
  </section>
{% endblock %}